@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    min-height: 100vh;
    width: 100vw;
    background-color: rgb(46, 46, 46);
    display: flex;
    gap: 3vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search{
    /* background-color: yellow; */
    border-radius: 20px;
}

.search input{
    padding: 5px 30px;
    outline: none;
}

.search button{
    background-color: rgb(48, 158, 161);
    border: none;
    padding: 7px 30px;
    color: white;
    cursor: pointer;
}

article{
    height: 30vw;
    width: 40vw;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.wetherIcon{
    width: 100%;
    height: 50%;
    background-color: white;
    font-size: 9vw;
    text-align: center;
    padding: 20px;
}

.weatherInfo{
    width: 100%;
    height: 40%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    color: white;
}

span{
    font-size: 4vw;
}

.weatherCondition{
    font-size: 1.7vw;
    text-transform: uppercase;
}

.date{
    width: 30%;
    font-weight: 700;
    font-size: 1.7vw;
    text-align: center;
}

.temp-info-minmax{
    /* background-color: blue; */
    display: flex;
    gap: 40px;
    padding: 15px 0px;
}

.two-sided-section{
    display: flex;
    align-items: center;
    font-size: .9vw;
    gap: 1vw;
    font-weight: 600;
}

.two-sided-section i{
    font-size: 1.5vw;
    color:rgb(56, 205, 210);
}

h1{
    color: rgb(52, 204, 210);
    border-bottom: 2px rgb(55, 160, 165) solid;
}

@media (max-width: 500px) {
    article{
        height: 60vw;
        width: 80vw;
        margin-top: 10vw;
    }

    .temp-info-minmax{
        padding: 2vw;
    }

    .temp-info-minmax p{
        font-size: 2vw;
        font-weight: 700;
    }

    .wetherIcon{
        font-size: 20vw;
    }

    .two-sided-section i{
        font-size: 4vw;
    }

    .date{
        font-size: 3vw;
    }
    h1{
        position: absolute;
        top: 3%;
    }
}